.playerRow {

  background-color: $ranking-line-bg-color !important;
  border-bottom: 4px solid $ranking-bg-color   !important;

}


.playerRow {
  background-color: $ranking-line-bg-color !important;
  border-bottom: 4px solid $ranking-bg-color !important;
}

// Cette règle spécifique va surcharger les styles par défaut de Bootstrap pour les cellules
.playerRow td {
  background-color: inherit !important;
  box-shadow: none !important;
}

// Pour les lignes alternées (optionnel)
.playerRowAlt {
  background-color: $ranking-line-bg-color  !important;
  border-bottom: 4px solid $ranking-bg-color !important;
}

.playerRowAlt td {
  background-color: inherit !important;
  box-shadow: none !important;
}
