.event-slider-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px; /* Hauteur ajustée */
    position: relative;
    overflow: hidden;
}

.event-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    padding: 0 60px;
}

.event-slide {
    display: flex;
    flex: none;
    width: 100%;
    justify-content: space-between;
}

.event {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    flex: 1;
    margin: 0 5px;
    padding: 10px 10px 10px 70px; /* Ajout de padding pour l'espace */
    text-align: left;
    border-radius: 5px 10px 10px 5px;
    border-left: 8px solid #007BFF;
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
    height: 50px; /* Augmentez cette valeur pour plus de place */
}

.event::before,
.event-home::before {
    background-color: #ccc; 
    transition: background-color 0.3s ease-in-out; 
}

.event::before,
.event-home::before {
    content: attr(data-month); /* Affiche le mois (ex. MAY) */
    position: absolute;
    left: 10px; /* Place la boîte à gauche */
    top: 10px; /* Positionne en haut à l'intérieur de la boîte */
    background-color: #007BFF; /* Fond bleu */
    color: white; /* Texte blanc */
    font-weight: bold;
    font-size: 12px; /* Taille du texte pour le mois */
    text-transform: uppercase; /* Mois en majuscule */
    text-align: center;
    width: 50px; /* Largeur de la boîte */
    height: 20px; /* Hauteur pour le texte du mois */
    line-height: 25px; /* Centre le texte verticalement */
    border-radius: 5px 5px 0 0; /* Arrondi uniquement en haut */
    z-index: 2;
}

.event::after,
.event-home::after {
    content: attr(data-day); /* Affiche le jour (ex. 02) */
    position: absolute;
    left: 10px; /* Aligné avec la boîte de gauche */
    bottom: 10px; /* Positionné en bas à l'intérieur de la boîte */
    background-color: #007BFF; /* Même couleur de fond */
    color: white; /* Texte blanc */
    font-weight: bold;
    font-size: 28px; /* Taille plus grande pour le jour */
    text-align: center;
    width: 50px; /* Largeur de la boîte */
    height: 30px; /* Hauteur ajustée pour inclure le jour */
    line-height: 25px; /* Centre le texte verticalement */
    border-radius: 0 0 5px 5px; /* Arrondi uniquement en bas */
    z-index: 2;
}

.event-info {
    flex: 1;
}

.event-icon {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-left: 10px;
    z-index: 1;
}

.event-title {
    color: #f3004e;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.event-subtitle {
    color: #007BFF;
    font-size: 14px;
    margin: 0px;
    font-weight: bold;
}

.event-buyin {
    color: #007BFF; /* Même couleur que le sous-titre */
    font-size: 14px; /* Même taille que le sous-titre */
    margin: 0px; /* Même espacement */
    font-weight: bold; /* Texte en gras */
}

.event-icon {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-left: 10px;
    z-index: 1;
}

.slider-btn {
    background-color: #007BFF;
    border: none;
    width: 40px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    cursor: pointer;
}

.slider-btn img {
    width: 20px;
}

.slider-btn.prev img {
    transform: rotate(90deg);
}

.slider-btn.next img {
    transform: rotate(-90deg);
}

.slider-btn.prev {
    left: 10px;
    z-index: 10;
}

.slider-btn.next {
    right: 10px;
}

.event-slider-container .slider-btn.prev:hover,
.event-slider-container .slider-btn.next:hover {
    background-color: #0056b3;
}

.event-slider-home {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.event-slide-home {
    flex: none;
    width: 100%;
    justify-content: space-between;
}

.event-home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    flex: 1;
    margin-bottom:20px;
    padding: 10px 10px 10px 70px; /* Ajout de padding pour l'espace */
    text-align: left;
    border-radius: 5px 10px 10px 5px;
    border-left: 8px solid #007BFF;
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
    height: 50px; /* Augmentez cette valeur pour plus de place */
}