.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    position: relative;
    border-bottom: solid 8px #f3004e;
    overflow: hidden; /* Pour éviter les débordements */
    z-index: 10;
    height: 220px;
    transition: height 0.3s ease, padding 0.3s ease;
}

/* Tarot Page Header */
.page-header-home {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url('../img/header/header.jpg') no-repeat top -80px center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    position: relative;
    border-bottom: solid 8px #f3004e;
    overflow: hidden; /* Pour éviter les débordements */
    z-index: 10;
    height: 220px;
}

.page-header-base {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url('../img/header/header.jpg') no-repeat top -80px center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    border-bottom: solid 8px #f3004e;
    overflow: hidden; /* Pour éviter les débordements */
    z-index: 10;
}

/* Tarot Page Header */
.page-header-tarot {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url('../img/header/header-tarot.jpg') no-repeat top -80px center;
    background-size: cover;
}

/* Rummy Page Header */
.page-header-rummy {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url('../img/header/header-rummy.jpg') no-repeat top -180px center;
    background-size: cover;
}

/* Scopa Page Header */
.page-header-scopa {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url('../img/header/header-scopa.jpg') no-repeat top -60px center;
    background-size: cover;
}

/* Sticky behaviour */
.page-header.sticky {
    position: sticky;
    top: -200px; /* 60px */
    border-bottom: solid 4px #f3004e;
    height: 220px;
}

.page-header-home.sticky {
    position: sticky;
    top: -155px; /* 60px */
    border-bottom: solid 4px #f3004e;
    height: 220px;
}

.page-header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0; /* Place le ribbon à droite */
    width: 300px; /* Largeur du ribbon */
    height: 100%; /* Assure que le ribbon couvre toute la hauteur du header */
    background-image: url('../img/ribbon.png'); /* Lien vers le ribbon */
    background-size: cover; /* Adapte l'image pour couvrir toute la zone définie */
    background-repeat: no-repeat; /* Évite de répéter l'image */
    opacity: 0.2; /* Rend le ribbon semi-transparent */
    pointer-events: none; /* Rend insensible aux interactions */
    z-index: 1; /* Assure que le ribbon est en arrière-plan */
}

.page-header-base h1,
.page-header h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    position: relative;
    z-index: 2; /* Place le texte au-dessus du ribbon */
}

.page-header h2 {
    color: white;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    position: relative;
    z-index: 2; /* Place le texte au-dessus du ribbon */
}

.page-header h2::before {
    content: none; /* Supprime l'icône pour les h2 dans .page-header */
    padding-left: 0; /* Supprime l'espace laissé par l'icône */
}

.page-header-home h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    position: relative;
    z-index: 2; /* Place le texte au-dessus du ribbon */
}

.page-header-home h2::before {
    content: none; /* Supprime l'icône pour les h2 dans .page-header */
    padding-left: 0; /* Supprime l'espace laissé par l'icône */
}


.page-header-home-text {
    color: white;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    position: relative;
    z-index: 2; /* Place le texte au-dessus du ribbon */
}

.page-header .submenu {
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

.page-header .submenu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.page-header .submenu a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.page-header .submenu a.active {
    background-color: rgba(255, 255, 255, 0.4);
}

.page-header-logo {
    height: 130px;
    padding-bottom: 30px;
}
