/* Remove unwanted margins/padding */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    font-size: 18px;
	color: rgb(71 85 105 / var(--tw-text-opacity, 1));
}

html {
    scroll-behavior: smooth; /* Ajoute une transition douce au scroll */
}

p {
    line-height: 1.6;
}

h2 {
    color: rgb(15 23 42 / var(--tw-text-opacity, 1)); 
    font-size: 28px; /* Taille adaptée pour un titre principal */
    font-weight: bold; /* Style gras pour souligner l'importance */
    margin-bottom: 20px; /* Espacement en bas pour une séparation claire */
    line-height: 1.4; /* Espacement entre les lignes pour une meilleure lisibilité */
    text-transform: uppercase; /* Texte en majuscules */
    text-align: left; /* Alignement par défaut à gauche */
    position: relative; /* Nécessaire pour positionner l'icône */
    padding-left: 30px; /* Ajoute un espace pour l'icône */
}

h2::before {
    content: ''; /* Nécessaire pour afficher l'icône */
    position: absolute;
    top: 50%; /* Centre verticalement par rapport au texte */
    left: 0; /* Positionne l'icône à gauche */
    transform: translateY(-50%); /* Ajuste pour un alignement parfait */
    width: 24px; /* Largeur de l'icône */
    height: 24px; /* Hauteur de l'icône */
    background: url('../img/icon.png') no-repeat center center; /* Icône par défaut */
    background-size: contain; /* Redimensionne pour tenir dans l'espace */
}

h3 {
    color: #f3004e; /* Rouge utilisé sur le site */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase; /* Met en majuscules pour plus d'impact */
    text-align: left; /* Alignement par défaut */
}

h4 {
    color: #007BFF; /* Bleu utilisé pour les boutons ou accents */
    font-size: 20px;
    font-weight: normal; /* Plus léger que le H3 */
    margin-bottom: 8px;
    text-transform: none; /* Pas de majuscules */
	text-transform: uppercase;
    text-align: left; /* Alignement par défaut */
}

a {
    color: #005eda;
    text-decoration: underline;
}

a:hover {
    color: #003d99;
    text-decoration: underline;
}

a:active {
    color: #002a73;
}

.container {
    width: 80%;
    margin: auto;
}

.intro-text {
    padding-bottom: 15px;
}

.red-button {
    background-color: #f3004e;
    color: white;
    padding: 10px 50px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.red-button:hover {
    background-color: #e0003a; /* Une légère variation de rouge pour hover */
	transform: scale(1.05);
	
}

.blue-button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #007BFF; /* Bleu */
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
	font-weight: bold;
}

.blue-button:hover {
    background-color: #0056b3; /* Bleu plus foncé au survol */
	transform: scale(1.05);
}