.bg-container {
    background-image: url('../img/bg-table.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px;
	border-radius: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; /* Espace entre l'image et le texte */
}

.header-medal {
    width: 40px; /* Taille de l'image */
    height: 60px;
    object-fit: contain; /* Conserve les proportions de l'image */
}

.search-bar {
    margin: 0 0 20px 0;
    text-align: center;
    padding: 20px;
}

.search-bar h2 {
    margin-bottom: 10px;
}

.search-bar input {
    padding: 15px;
    width: 60%;
    max-width: 500px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar button {
    padding: 15px 30px;
    background-color: #f3004e;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #d0003c;
}

.dropdown-bar {
    margin: 20px 0;
    text-align: center;
}

.dropdown-bar h2 {
    margin-bottom: 10px;
}

.dropdown-bar .league-box {
    display: inline-block;
    padding: 10px 15px;
    background-color: white;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.dropdown-bar select {
    padding: 10px;
    width: auto;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.dropdown-bar button {
    padding: 15px 30px;
    background-color: #f3004e;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-bar button:hover {
    background-color: #d0003c;
}

.logo-container {
    text-align: center; /* Centre le logo horizontalement */
}
.logo-container img.center-logo {
    max-height: 140px; /* Limite la hauteur à 100px */
    height: auto; /* Maintient le ratio d'aspect */
    max-width: 100%; /* Empêche le débordement horizontal */
}

.title-table {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.title-table h2::before {
    content: none;
    padding-left: 0;
}

.header-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007BFF;
    padding: 20px;
	border-radius: 10px 10px 0 0;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
	color:#000;
}

.table th,
.table td {
    border-bottom: 4px solid #efbc85;
    text-align: center;
    padding: 4px;
}

.table th {
    background-color: #005eda;
    color: white;
}

.table tr {
    background-color: #f3a551;
}

.rank-box {
    background-color: #ea5f28;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}

.points {
    background-color: #45bfe6;
    color: white;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 5px;
    display: inline-block;
}


.rewards {
    background-color: #de9245;
    color: #894416;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 5px;
    display: inline-block;
    width: 80px;
    text-align: center;
}

.serie {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin: 0 2px;
    border-radius: 5px;
}

.serie.win {
    background-color: #7bb82d;
    color: white;
}

.serie.lose {
    background-color: #d31105;
    color: white;
}

.experience {
    background-color: #ea5f28;
    color: white;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 5px;
    display: inline-block;
    width: 80px;
    text-align: center;
}

.avatar-box {
    background-color: #45bfe6;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-table {
    background-color: rgba(255, 255, 255, 0.1); /* Blanc transparent */
    padding: 20px 0;
    text-align: center;
}

.footer-table-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; /* Espace entre le texte et le logo */
}

.footer-table-text {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.footer-table-logo {
    width: 80px; /* Taille du logo */
    height: auto;
    display: inline-block;
    vertical-align: middle; /* Alignement avec le texte */
}